
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Shopping Cart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Admin</a>
  </li>
  {{#if userf}}
<li class="nav-item">
    <a class="btn btn-primary" href="/admin/add-users">Add user</a>
  </li>
{{else}}
   <li class="nav-item">
    <a class="btn btn-primary" href="/admin/view-users">Users Managment</a>
  </li>
  {{/if}}
  <li class="nav-item">
    <a class="nav-link" href="/admin/product-manage">product-managment</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href="/admin/logout">Logout</a>
  </li>
</ul>