<!--footer-area start-->
	<footer class="footer-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="company-info">
						<img src="/images/razikLogo.png" alt="logo" />
						<p>101 E 129th St, Bangalore, <br/> IN 46312, US</p>
						<p>Phone: 001-1234-88888</p>
						<p>Email: raziqsur@gmail.com</p>
					</div>
					<div class="copyright">
						<p>Copyright 2022 &copy; <a href="/">zahraf</a>. All rights reserved.</p>
					</div>
					<div class="payment-gateways">
						<img src="/assets/images/footer/p1.png" alt="" />
						<img src="/assets/images/footer/p2.png" alt="" />
						<img src="/assets/images/footer/p3.png" alt="" />
						<img src="/assets/images/footer/p4.png" alt="" />
						<img src="/assets/images/footer/p5.png" alt="" />
						<img src="/assets/images/footer/p6.png" alt="" />
					</div>
				</div>
				<div class="col-lg-2 col-sm-6">
					<div class="fooer-widget">
						<h4>Find It Fast</h4>
						<div class="footer-menu">
							<ul>
								<li><a href="#">Laptop & Computers</a></li>
								<li><a href="#">Smart Phone & Tablets</a></li>
								<li><a href="#">TV & Audio</a></li>
								<li><a href="#">Cameras & Photography</a></li>
								<li><a href="#">Gadgets</a></li>
								<li><a href="#">Car Electronic & GP5</a></li>
								<li><a href="#">Accesories</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-sm-3 mt-sm-45">
					<div class="fooer-widget">
						<h4>Information</h4>
						<div class="footer-menu">
							<ul>
								<li><a href="#">Find a Store</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Delivery information</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Gift Cards</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-sm-3 mt-sm-45">
					<div class="fooer-widget">
						<h4>Customer Care</h4>
						<div class="footer-menu">
							<ul>
								<li><a href="/myprofile">My Account</a></li>
								<li><a href="/product-details">Order History</a></li>
								<li><a href="/wishlist">Wish List</a></li>
								<li><a href="#">Customer Service</a></li>
								<li><a href="#">Returns / Exchange</a></li>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Product Support</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-sm-45">
					<div class="footer-widget">
						<div class="subscribe-form">
							<h3>Sign Up to <strong>Newsletter</strong></h3>
							<p>Subscribe our newsletter gor get notification about information discount.</p>
							<input type="text" placeholder="Your email address" />
							<button>Subscribe</button>
						</div>
						<div class="social-icons style-2">
							<strong>GET IN TOUCH !</strong>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--footer-area end-->