<div class="container">
    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
    <label for="">Name</label><br>
    <input class="form-control" name="name" type="text"><br>
    <label for="">category</label><br>
    <input class="form-control" name="category" type="text"><br>
    <label for="">price</label><br>
    <input class="form-control" name="price" type="text"><br>
    <label for="">description</label><br>
    <input class="form-control" name="description" type="text"> <br>
    <label for="">File</label><br>
    <input class="form-control" name="image"  type="file"><br>
    <button class="btn btn-success" type="submit">Submit</button> 
</form>
</div>















