<div class="shop-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3">
					<div class="sidebar">
						<div class="vertical-menu">
							<ul>
								<li><a href="#">Office Electronics</a></li>
								<li><a href="#">Tablet</a></li>
								<li><a href="#">Computer Components</a></li>
								<li><a href="#">Tablet Accessories</a></li>
								<li><a href="#">Computer Peripherals</a></li>
								<li><a href="#">Computer Peripherals</a>
									<ul>
										<li><a href="#">External Storage</a></li>
										<li><a href="#">Networking</a></li>
									</ul>
								</li>
								<li><a href="#">Memory Cards & SSD</a>
									<ul>
										<li><a href="#">Cables & Connector</a></li>
										<li><a href="#">Mini PC</a></li>
									</ul>
								</li>
								<li><a href="#">Demo Board & Accessories</a></li>
								<li><a href="#">Desktops & Servers</a></li>
								<li><a href="#">Computer & Accessories</a>
									<ul>
										<li><a href="#">DIY Gaming PC</a></li>
										<li><a href="#">Computer Cleaners</a></li>
									</ul>
								</li>
								<li><a href="#">Laptops</a></li>
								<li><a href="#">Laptop Accessories</a>
									<ul>
										<li><a href="#">DIY Gaming PC</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="price_filter mt-40">
							<div class="section-title">
								<h3>Filter by price</h3>
							</div>
							<div class="price_slider_amount">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<input type="text" id="amount" name="price"  placeholder="Add Your Price" />
									</div>
									<div class="col-lg-6">
										<button>Filter</button>
									</div>
								</div>
							</div>
							<div id="slider-range"></div>
						</div>
						<div class="list-filter mt-43">
							<div class="section-title">
								<h3>Brands</h3>
							</div>
							<ul class="list-none mt-25">
								<li>
									<input type="checkbox" id="acer" />
									<label for="acer">Acer</label>
								</li>
								<li>
									<input type="checkbox" id="apple" />
									<label for="apple">Apple</label>
								</li>
								<li>
									<input type="checkbox" id="asus" />
									<label for="asus">Asus</label>
								</li>
								<li>
									<input type="checkbox" id="gionee" />
									<label for="gionee">Gionee</label>
								</li>
								<li>
									<input type="checkbox" id="htc" />
									<label for="htc">HTC</label>
								</li>
								<li><a href="#">+ Show more</a></li>
							</ul>
						</div>
						<div class="list-filter mt-43">
							<div class="section-title">
								<h3>Colors</h3>
							</div>
							<ul class="list-none mt-25">
								<li>
									<input type="checkbox" id="black" />
									<label for="black">Black</label>
								</li>
								<li>
									<input type="checkbox" id="pink" />
									<label for="pink">Pink</label>
								</li>
								<li>
									<input type="checkbox" id="white" />
									<label for="white">White</label>
								</li>
								<li>
									<input type="checkbox" id="blue" />
									<label for="blue">Blue</label>
								</li>
								<li>
									<input type="checkbox" id="orange" />
									<label for="orange">Orange</label>
								</li>
								<li><a href="#">+ Show more</a></li>
							</ul>
						</div>
						<!--latest-products-->
						<div class="products-list mt-30">
							<div class="section-title mb-30">
								<h3>Latest Items</h3>
							</div>
							<div class="one-carousel dots-none">
								<div>
									<ul class="list-none">
										<li>
											<div class="product-single style-2">
												<div class="row align-items-center m-0">
													<div class="col-lg-4 p-0">
														<div class="product-thumb">
															<a href="#"><img src="/assets/images/products/latest/1.jpg" alt="" /></a>
														</div>
													</div>
													<div class="col-lg-8 p-0">
														<div class="product-title">
															<h4><a href="#">Vantech VP-153C Camera</a></h4>
														</div>
														<div class="product-price-rating">
															<span>$195.00</span>
															<del>$229.99</del>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="product-single style-2">
												<div class="row align-items-center m-0">
													<div class="col-lg-4 p-0">
														<div class="product-thumb">
															<a href="#"><img src="/assets/images/products/latest/2.jpg" alt="" /></a>
														</div>
													</div>
													<div class="col-lg-8 p-0">
														<div class="product-title">
															<h4><a href="#">Vantech VP-153C Camera</a></h4>
														</div>
														<div class="product-price-rating">
															<span>$195.00</span>
															<del>$229.99</del>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="product-single style-2">
												<div class="row align-items-center m-0">
													<div class="col-lg-4 p-0">
														<div class="product-thumb">
															<a href="#"><img src="/assets/images/products/latest/3.jpg" alt="" /></a>
														</div>
													</div>
													<div class="col-lg-8 p-0">
														<div class="product-title">
															<h4><a href="#">Vantech VP-153C Camera</a></h4>
														</div>
														<div class="product-price-rating">
															<span>$195.00</span>
															<del>$229.99</del>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div>
									<ul class="list-none">
										<li>
											<div class="product-single style-2">
												<div class="row align-items-center m-0">
													<div class="col-lg-4 p-0">
														<div class="product-thumb">
															<a href="#"><img src="/assets/images/products/latest/1.jpg" alt="" /></a>
														</div>
													</div>
													<div class="col-lg-8 p-0">
														<div class="product-title">
															<h4><a href="#">Vantech VP-153C Camera</a></h4>
														</div>
														<div class="product-price-rating">
															<span>$195.00</span>
															<del>$229.99</del>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="product-single style-2">
												<div class="row align-items-center m-0">
													<div class="col-lg-4 p-0">
														<div class="product-thumb">
															<a href="#"><img src="/assets/images/products/latest/2.jpg" alt="" /></a>
														</div>
													</div>
													<div class="col-lg-8 p-0">
														<div class="product-title">
															<h4><a href="#">Vantech VP-153C Camera</a></h4>
														</div>
														<div class="product-price-rating">
															<span>$195.00</span>
															<del>$229.99</del>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="product-single style-2">
												<div class="row align-items-center m-0">
													<div class="col-lg-4 p-0">
														<div class="product-thumb">
															<a href="#"><img src="/assets/images/products/latest/3.jpg" alt="" /></a>
														</div>
													</div>
													<div class="col-lg-8 p-0">
														<div class="product-title">
															<h4><a href="#">Vantech VP-153C Camera</a></h4>
														</div>
														<div class="product-price-rating">
															<span>$195.00</span>
															<del>$229.99</del>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9">
					<div class="row align-items-center">
						<div class="col-lg-2">
							<div class="section-title">
								<h3>Shop List</h3>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="products-sort">
								<form>
									<select>
										<option>Default Sorting</option>
										<option>Sort by A - Z</option>
										<option>Sort Price Low - High</option>
									</select>
								</form>
							</div>
							<div class="products-sort">
								<form>
									<label>Show :</label>
									<select>
										<option>12</option>
										<option>8</option>
										<option>4</option>
									</select>
								</form>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="site-pagination pull-right">
								<ul>
									<li><a href="#" class="active">1</a></li>
									<li>of</li>
									<li><a href="#">3</a></li>
									<li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
								</ul>
							</div>
							<div class="product-view-system pull-right" role="tablist">
								<ul class="nav nav-tabs">
									<li><a data-toggle="tab" href="#grid-products"><img src="/assets/images/icons/icon-grid.png" alt="" /></a></li>
									<li><a class="active" data-toggle="tab" href="#list-products"><img src="/assets/images/icons/icon-list.png" alt="" /></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div id="grid-products" class="tab-pane">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Aquaracer</a></small>
											<h4><a href="#">iPATROL RILEY - WiFi Enabled Mobilized Home Monitoring Robot</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/1.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$395.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Iphone</a></small>
											<h4><a href="#">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/2.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$495.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Camera</a></small>
											<h4><a href="#">Blue Yeti USB Microphone Blackout Edition</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/3.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$345.00</span>
												<del>$429.99</del>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Macbook</a></small>
											<h4><a href="#">iNewby 3.3mm Lens 720P HD WiFi Smart</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/4.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$395.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Macbook</a></small>
											<h4><a href="#">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/5.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00 </span>
												<del>$229.99</del>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Aquaracer</a></small>
											<h4><a href="#">iPATROL RILEY - WiFi Enabled Mobilized Home Monitoring Robot</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/6.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$395.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Aquaracer</a></small>
											<h4><a href="#">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/7.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$495.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Camera</a></small>
											<h4><a href="#">Blue Yeti USB Microphone Blackout Edition</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/8.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$345.00</span>
												<del>$429.99</del>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Macbook</a></small>
											<h4><a href="#">iNewby 3.3mm Lens 720P HD WiFi Smart</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/9.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Macbook</a></small>
											<h4><a href="#">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/10.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Aquaracer</a></small>
											<h4><a href="#">iPATROL RILEY - WiFi Enabled Mobilized Home Monitoring Robot</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/11.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Iphone</a></small>
											<h4><a href="#">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/12.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$495.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Macbook</a></small>
											<h4><a href="#">iNewby 3.3mm Lens 720P HD WiFi Smart</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/9.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Macbook</a></small>
											<h4><a href="#">DYMO LabelWriter 450 Turbo Thermal Label Printer</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/10.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="product-single">
										<div class="product-title">
											<small><a href="#">Aquaracer</a></small>
											<h4><a href="#">iPATROL RILEY - WiFi Enabled Mobilized Home Monitoring Robot</a></h4>
										</div>
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/11.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
										<div class="product-price-rating">
											<div class="pull-left">
												<span>$195.00</span>
											</div>
											<div class="pull-right">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<span class="rating-quantity">(0)</span>
											</div>
										</div>
										<div class="product-action">
											<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
											<a href="javascript:void(0);" class="add-to-cart">Add to Cart</a>
											<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="list-products" class="tab-pane active">
							<div class="product-single wide-style pd-30">
								<div class="row align-items-center">
									<div class="col-lg-4">
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/16.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 product-desc mt-sm-30">
										<a href="#" class="add-to-wishlist"><i class="icon_heart_alt"></i></a>
										<div class="product-title style-2">
											<small><a href="#">Samsung</a></small>
											<h4><a href="#">Samsung Electronics UN55MU6500 Curved 55-Inch 4K Ultra HD Smart LED TV (2019 Model)</a></h4>
										</div>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<span>(5)</span>
										</div>
									</div>
									<div class="col-lg-4 mt-sm-30">
										<div class="product-action stuck">
											<div class="free-delivery">
												<a href="#"><i class="ti-truck"></i> Free Delivery</a>
											</div>
											<div class="product-price-rating">
												<del>629.99</del>
												<span>$495.00</span>
											</div>
											<div class="product-stock">
												<p>Avability: <span>In stock</span></p>
											</div>
											<a href="#" class="add-to-cart">Add to Cart</a>
											<a href="#" class="add-to-cart compare">+ ADD to Compare</a>
										</div>
									</div>
								</div>
							</div>
							<div class="product-single wide-style pd-30">
								<div class="row align-items-center">
									<div class="col-lg-4">
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/17.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 product-desc mt-sm-30">
										<a href="#" class="add-to-wishlist"><i class="icon_heart_alt"></i></a>
										<div class="product-title style-2">
											<small><a href="#">Samsung</a></small>
											<h4><a href="#">Samsung Electronics QN55Q8C Curved 55-Inch 4K Ultra HD Smart QLED TV (2019 Model)</a></h4>
										</div>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<span>(5)</span>
										</div>
									</div>
									<div class="col-lg-4 mt-sm-30">
										<div class="product-action stuck">
											<div class="free-delivery">
												<a href="#"><i class="ti-truck"></i> Free Delivery</a>
											</div>
											<div class="product-price-rating">
												<del>629.99</del>
												<span>$495.00</span>
											</div>
											<div class="product-stock">
												<p>Avability: <span>In stock</span></p>
											</div>
											<a href="#" class="add-to-cart">Add to Cart</a>
											<a href="#" class="add-to-cart compare">+ ADD to Compare</a>
										</div>
									</div>
								</div>
							</div>
							<div class="product-single wide-style pd-30">
								<div class="row align-items-center">
									<div class="col-lg-4">
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/18.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 product-desc mt-sm-30">
										<a href="#" class="add-to-wishlist"><i class="icon_heart_alt"></i></a>
										<div class="product-title style-2">
											<small><a href="#">Samsung</a></small>
											<h4><a href="#">Samsung Electronics UN65MU8500 Curved 65-Inch 4K Ultra HD Smart LED TV (2017 Model)</a></h4>
										</div>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<span>(5)</span>
										</div>
									</div>
									<div class="col-lg-4 mt-sm-30">
										<div class="product-action stuck">
											<div class="free-delivery">
												<a href="#"><i class="ti-truck"></i> Free Delivery</a>
											</div>
											<div class="product-price-rating">
												<del>629.99</del>
												<span>$495.00</span>
											</div>
											<div class="product-stock">
												<p>Avability: <span>In stock</span></p>
											</div>
											<a href="#" class="add-to-cart">Add to Cart</a>
											<a href="#" class="add-to-cart compare">+ ADD to Compare</a>
										</div>
									</div>
								</div>
							</div>
							<div class="product-single wide-style pd-30">
								<div class="row align-items-center">
									<div class="col-lg-4">
										<div class="product-thumb">
											<a href="#"><img src="/assets/images/products/shop/19.jpg" alt="" /></a>
											<div class="product-quick-view">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">quick view</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 product-desc mt-sm-30">
										<a href="#" class="add-to-wishlist"><i class="icon_heart_alt"></i></a>
										<div class="product-title style-2">
											<small><a href="#">Samsung</a></small>
											<h4><a href="#">Samsung CF791 Series 34-Inch Curved Widescreen Monitor (C34F791)</a></h4>
										</div>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<span>(5)</span>
										</div>
									</div>
									<div class="col-lg-4 mt-sm-30">
										<div class="product-action stuck">
											<div class="free-delivery">
												<a href="#"><i class="ti-truck"></i> Free Delivery</a>
											</div>
											<div class="product-price-rating">
												<del>629.99</del>
												<span>$495.00</span>
											</div>
											<div class="product-stock">
												<p>Avability: <span>In stock</span></p>
											</div>
											<a href="#" class="add-to-cart">Add to Cart</a>
											<a href="#" class="add-to-cart compare">+ ADD to Compare</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row align-items-center mt-30">
						<div class="col-lg-6">
							<div class="site-pagination">
								<ul>
									<li><a href="#" class="active">1</a></li>
									<li>of</li>
									<li><a href="#">3</a></li>
									<li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="product-results pull-right">
								<span>Showing 1–3 of 60 results</span>
								<div class="products-sort ml-35 mr-0">
									<form>
										<label>Show :</label>
										<select>
											<option>12</option>
											<option>8</option>
											<option>4</option>
										</select>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--recently-viewed-products-start-->
					<div class="recent-viewed-products mt-50">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title">
									<h3>Recently Viewed Products</h3>
								</div>
							</div>
						</div>
						<div class="row recent-products mlr-minus-12">
							<div class="col-lg-4">
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/2.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/4.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/21.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/23.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/9.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/12.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/4.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/4.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/5.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/5.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/6.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
								<!--single-product-->
								<div class="product-single style-2">
									<div class="row align-items-center">
										<div class="col-lg-6 p-0">
											<div class="product-thumb">
												<a href="#"><img src="/assets/images/products/6.jpg" alt="" /></a>
											</div>
										</div>
										<div class="col-lg-6 p-0">
											<div class="product-title">
												<small><a href="#">Electronics</a></small>
												<h4><a href="#">Vantech VP-153C Camera</a></h4>
											</div>
											<div class="product-price-rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o"></i>
											</div>
											<div class="product-price-rating">
												<span>$195.00</span>
												<del>$229.99</del>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--recently-viewed-products-end-->
				</div>
			</div>
		</div>
	</div>
	<!--products-area end-->