
<ul class="nav justify-content-center bg-primary">
  
  <li class="nav-item">
    <h1 class="nav-link text-light">Zahraf</h1>
  
</ul>
<div class="container login-container">
  <div class="row d-flex justify-content-center" >
    <div class="col-md-6 login-form-1">
      <h3>Login for shopping with zar</h3>

      <form action="/login" method="POST" name="mysignup" onsubmit="return validateLogin()">
       
          <p class="text-danger">{{err}}</p>
          <p class="text-danger">{{otploginEr}}</p>
          <p class="text-danger">{{loginStatus}}</p>

        <div class="form-group" id="loginHide">
          <input
            name="email"
            type="email"
            class="form-control"
            
            placeholder="Your Email *"
            value=""
          />
          <div id="emailerr"></div>
        </div>
        <div class="form-group" id="login-password-Hide">
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="Your Password *"
            value=""
          />
        </div>
          <div id="passworderr"></div>

        <div class="form-group" id="hideLogin">
          <input
            type="submit"
            class="btnSubmit"
            value="LOGIN"
            style="margin-right: 8px;"
          />

        </div>

      </form>
      <center>
      <div class="form-group" id="hideForget">
        <a href="#" class="ForgetPwd">Forget Password?</a>
        <div><span >OR</span></div>
        <div>
          <a
            class=" btn btn-primary btnotp"
            href="/user-otp"
          >OTP</a></div>
      </div>
      </center>
      <div>
        <a href="/signup" style="font-size: small; margin-top: 50px;">Dont have
          an Account?</a>

      </div>

    </div>
  </div>
</div>
<script>
  function validateLogin(){
    let email=document.mysignup.email.value;
    let password=document.mysignup.password.value;
    if(email==null || email==''){
      document.getElementById('emailerr').innerHTML='Email require'
       return false;
    }else if(password==null || password==''){
      document.getElementById('passworderr').innerHTML="password not require"
      return false;
    }else{
      return true
    }
  }
</script>