<div class="container login-container">
  <div class="row" style=" margin-left: 25% !important;">
    <div class="col-md-6 login-form-1">	 
	 <h3>Otp for shopping with zar</h3>
	 <form action="/otpLoginVeryfication" method="POST" id="formdsub">
                  <p>{{sighnupotpErr}}</p>
                  <p>{{sighnUpcodeErruser}}</p>

                        <div class="form-group" id="otpText" >
                            <input name="otp" type="text" class="form-control" placeholder="Enter Yout OTP" value="" />
							<div class="form-group" id="hideLogin">
          <input
            type="submit"
            class="btnSubmit"
            value="LOGIN"
            style="margin-right: 8px;"
          />

        </div>
                        </div>
              </form>
			  </div>
			  </div>
			  </div>